{% extends 'admin/base.html' %}

{% load cache humanize i18n clocking  %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% if subtitle %}{{ subtitle }} | {% endif %}
    {{ title }} | {{ site_title|default:_('Django site admin')}}
{% endblock %}


{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block  content %}
{{ block.super }}
    {%  has_clocking_permissions as has_permission%}
    {% if has_permission %}
    <div class="flex flex-row" x-data="alpine()">
        <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4  shadow shadow-md dark:!bg-navy-700 dark:shadow-none mr-1 px-2 hover:bg-sky-700" style="cursor: pointer;" @click="reportByWorker">
            <p class="text-sm text-gray-600">Reportes</p>
            <p class="text-base font-medium text-navy-700 dark:text-white">
                Reporte por trabajador
            </p>
        </div>
        <div class="flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4  shadow shadow-md dark:!bg-navy-700 dark:shadow-none px-2" style="cursor: pointer;" @click="reportByDepartment">
            <p class="text-sm text-gray-600">Reportes</p>
            <p class="text-base font-medium text-navy-700 dark:text-white">
                Reporte por departamento 
            </p>
        </div>
        <div class="ml-2 flex flex-col items-start justify-center rounded-2xl bg-white bg-clip-border px-3 py-4  shadow shadow-md dark:!bg-navy-700 dark:shadow-none px-2" style="cursor: pointer;" @click="reportByDepartment">
            <p class="text-sm text-gray-600">Reportes</p>
            <p class="text-base font-medium text-navy-700 dark:text-white">
                Reporte de asistencia
            </p>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block extrahead %}
<script>
    function alpine() {
        return {
            reportByWorker() {
                window.open("/reports/worker/", 'Reporte por trabajador', 'width=700,height=800')
            },
            reportByDepartment() {
                window.open("/reports/department/", 'Reporte por departamento', 'width=700,height=800')
            },
            reportByDepartment() {
                window.open("/reports/attendance/", 'Reporte de asistencia', 'width=700,height=800')
            }
        }
    }
</script>

{% endblock %}