{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/alpine.min.js' %}" defer></script>
  <title>Sistema degestión de asistencias</title>

  <style>
    [x-cloak] { display: none !important; }

    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    } 
    .reloj {
        color: #0d1420;
        font-size: 40px;
        font-family: Arial;
        letter-spacing: 5px;
        text-align: center;
        background-color: #e6e6e6;
        border: 2px solid #434547;
        border-radius: 20px;
    }
  </style>
</head>
<body class="bg-light d-flex flex-column justify-content-between px-0">

<nav class="navbar text-with">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 h1">
      <img src="{% static 'images/branding/logo_inpromaro_lit.png' %}" alt=""> 
    </span>
  </div>
</nav>
<main id="main-container" x-data="app()" x-cloak x-init="$nextTick(() => initialize())" class="pt-4 bg-light h-100">
  
  <div class="container" x-show="!isOffline">
    <div class="row">
      <div class="col-sm-12 col-6">
        <div id="relojnumerico" class="reloj" >
          <!-- Acá mostraremos el reloj desde JavaScript --> 
      </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col d-flex flex-row align-self-center justify-content-center align-ittems-center">
        <img :src="data.defaultImage" x-show="data.formIsValid === null || !data.formIsValid" class="rounded-circle float-start" alt="...">
        <img :src="data.personal.photo" style="height: 200px; width: 200px;" x-show="data.formIsValid !== null && data.formIsValid" class="rounded-circle float-start" alt="...">
      </div>
    </div>
    <div class="row pt-2">
      <div class="col text-center" x-show="data.formIsValid === null">
        <h3>Marque su asistencia o salida escaneando el codigo QR de su carnet</h3>
      </div>
      <div class="col text-center text-success" x-show="data.formIsValid !== null && data.formIsValid">
        <h3 x-text="data.personal.name"></h3>
        <span x-text="data.personal.position"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3">
        <input type="text" name="" id="reader" readonly disabled x-ref="idDisplayer"  :class="{'form-control': true, 'text-center': true, 'is-valid text-success fw-bold': data.formIsValid !== null && data.formIsValid,'is-invalid text-danger fw-bold': data.formIsValid !== null && !data.formIsValid}">
      </div>
    </div>
    <div class="row mt-4" x-show="data.formIsValid !== null && data.formIsValid">
      <div class="col-6 offset-3">
        <div class="alert alert-success text-center" >
          <strong x-text="data.greeting"></strong>
        </div>
      </div>
    </div>
    <div class="row mt-4" x-show="data.formIsValid !== null && !data.formIsValid">
      <div class="col-6 offset-3">
        <div class="alert alert-danger text-center" >
          <strong x-show="!errorTyped">Cédula invalida o no registrada. Vuelva a intentar o comuniquese con su administrador</strong>
          <strong x-show="true" x-text="data.greeting"></strong>
        </div>
      </div>
    </div>
  </div>
  <div class="container" x-show="isOffline">
    <div class="col d-flex flex-row align-self-center justify-content-center align-ittems-center">
      <img src="/static/images/plug_connection.png" class="float-start" alt="...">
    </div>
    <div class="row mt-4">
      <div class="col-6 offset-3">
        <div class="alert alert-danger text-center" >
          <strong>
            La conexión con el servidor se ha perdido
          </strong>
        </div>
      </div>
    </div>
  </div>
  <form action="{% url 'clocking.checking' %}" method="post" id="checkingForm">
    {% csrf_token %}
    <input type="hidden" name="cedula" :value="data.id">
  </form>

</main><!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid px-0">

  <footer class="bg-light text-center">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <small>
        © 2023 Copyright:
        Este sistema fue desarrollado por <a href="mailto:gjavilae@gmail.com"><strong>Giovanny Avila</strong></a>  / <a href="tel:+584125723883">+584124723883</a>
      </small>
    </div>
  </footer>

</div>
<!-- End of .container -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
  function app() {
    return {
      timer: null,
      errorTyped: false,
      interval: null,
      initialized: false,
      isOffline: false,
      data: {
        id: "",
        personal : {
          name: "Giovanny Avila",
          position: "Programador",
          department: "",
          photo: ""
        },
        showFullId: "",
        defaultImage: "/static/images/default_assistent_image.jpg",
        formIsValid: null,
        errorTyped: false,
        greeting: "Descanse y reponga sus energias. ¡Hasta mañana!",
        welcomeMessages: [
          "¡Chequeo exitoso!",
        ],
        goodBayMessages: [
          "¡Chequeo exitoso!",
        ],
        bepEffect: null,
        
      },
      audioEffect() {
        this.bepEffect = new Audio("/static/audio/checking_effect.wav")
      },
      playBep() {
        this.bepEffect.load()
        this.bepEffect.play()
      },
      initialize() {
        if (this.initialized) {
          return
        }
        window.addEventListener("offline", (e) => {
          this.isOffline = true
        });

        window.addEventListener("online", (e) => {
          if (this.isOffline) {
            location.reload()
          }
          this.isOffline = false
        });

        this.initialized = true
        this.audioEffect()
        this.cargarReloj()
        this.errorTyped = false
        console.info("App has been initialized")
        // document.getElementById("reader").focus()
        window.addEventListener("keyup", (e)=> {
          if (parseInt(e.key) >= 0 && parseInt(e.key) <= 9) {
            this.data.id = `${this.data.id}${e.key}`
          } else if (e.key == "enter" || e.keyCode == 13) {
            let currentDate = new Date()
            console.log("Ultimo chequeo marcado ", {currentDate})
            localStorage.setItem("last_checking", currentDate)
            if (this.data.id != "") {
              this.$refs["idDisplayer"].value = this.data.id
              this.sendForm()
            }
            setTimeout(()=> {
              this.data.id = ""
            }, 2000)
          }
        })

        
        /**
        * Al pasar un minuto soe verifica si hay una 
        * diferencia de cierta cantidad de minutos, en caso de haberlo
        * se refresca automaticamente la vista para evitar bugs por tiempo muerto
        */
        this.interval = setInterval(()=> {
          let lastCheck = localStorage.getItem("last_checking")
          let now = new Date()
          if (lastCheck == null) {
            return
          }
          
          let diff = (now - new Date(lastCheck))
          let diffInMinutes = (diff / 1000) / 60
          console.log({diffInMinutes})
          if (diffInMinutes >= 3) {
            console.log("Refrescando vista por tiempo muerto")
            localStorage.setItem("last_checking", new Date())
            location.reload()
          }

        }, 60000)
      },
      sendForm() {
        const form = document.getElementById("checkingForm")
        const formData = new FormData(form)

        fetch(
          form.action,
          {
            method: "POST",
            body: formData
          }
        )
        .then(resp => resp.json())
        .then(resp => {
          console.log(resp)
          if (this.timer !== null) {
            clearTimeout(this.timer)
            this.timer = null
          }
          this.data.id = ""
          this.noticeCheckStatus(resp.error, resp.message, resp.checking_type, resp.user_data, resp.error_type)
        })
      },
      noticeCheckStatus(hasError, message, checking_type, user_data, errorType = null) {
        this.playBep()
        if (hasError) {
          this.data.formIsValid = false
          this.data.greeting = message.cedula[0].message
          if (errorType !== null ){
            this.errorTyped = true
          }
        } else  {
          let greeting = []
          if (checking_type == "ENTRADA") {
            greeting =  this.data.welcomeMessages
          } else {
            greeting = this.data.goodBayMessages
          }
          this.data.greeting = greeting[Math.floor(Math.random()*greeting.length)];
          this.data.formIsValid = true
          this.data.personal = user_data
        }

        this.timer = setTimeout(() => {
          this.$refs["idDisplayer"].value = ""
          this.data.formIsValid = null
          this.data.id = ""
          this.errorTyped = false
        }, 5000)
      },
      cargarReloj(){
        // Haciendo uso del objeto Date() obtenemos la hora, minuto y segundo 
        var fechahora = new Date();
        var hora = fechahora.getHours(); 
        var minuto = fechahora.getMinutes(); 
        var segundo = fechahora.getSeconds(); 

        // Variable meridiano con el valor 'AM' 
        var meridiano = "AM";
        
        
        // Si la hora es igual a 0, declaramos la hora con el valor 12 
        if(hora == 0){

            hora = 12;
            
        }
        
        // Si la hora es mayor a 12, restamos la hora - 12 y mostramos la variable meridiano con el valor 'PM' 
        if(hora > 12) {

            hora = hora - 12;

            // Variable meridiano con el valor 'PM' 
            meridiano = "PM";

        }
        
        // Formateamos los ceros '0' del reloj 
        hora = (hora < 10) ? "0" + hora : hora;
        minuto = (minuto < 10) ? "0" + minuto : minuto;
        segundo = (segundo < 10) ? "0" + segundo : segundo;
        
        // Enviamos la hora a la vista HTML 
        var tiempo = hora + ":" + minuto + ":" + segundo + " " + meridiano;    
        document.getElementById("relojnumerico").innerText = tiempo;
        document.getElementById("relojnumerico").textContent = tiempo;

        // Cargamos el reloj a los 500 milisegundos 
        setTimeout(() => {
          this.cargarReloj()
        }, 500);
        
      }

    }
  }
</script>
</body>
</html>