{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<head>
    <style>
    @page {
        size:  57mm 85.5mm ;
        margin: 1.35mm;
        padding: 0mm;
        font-family: monospace;
    }
    #content {
        background-image: url("/app/src/static/images/branding/borde_carnet.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: left;
    }
    </style>
</head>

<body>
    <div class="row" style="padding: 0 !important; margin:  0 !important; z-index: 0; position: absolute;">
        <img src="/app/src/static/images/branding/layout_borde_carnet.png" style="width: 56.9mm; height: 85mm;" alt="" srcset="">
    </div>
    <div class="container-flow" id="content" style="z-index: 9; padding-right: 4mm;">

        <div class="row">
            <div class="col-12" >
                <img src="/app/src/static/images/branding/logo_inpromaro_lit.png" style="height: 12mm;" alt="">
            </div>
        </div>
        <div class="row d-flex flex-row align-items-center justify-content-center " style="max-width: 60mm; padding-left: 3mm; z-index: 11;">
            <img src="{{current_carnet_data.picture.path}}"  style="height: 70px; width: 70px; border-radius: 50%; z-index: 12;" alt="">
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <div style="max-width: 55mm; font-size: 12pt;">
                    <strong>{{current_carnet_data.name}}</strong>
                    <br>
                    <strong>{{current_carnet_data.last_name}}</strong>
                    <br>
                    <strong style="font-size: 8pt;">C.I.: {{current_carnet_data.cedula}}</strong>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div style="max-width: 57mm; align-items: center; text-align: center;">
                    <img src="/app/src/media/pictures/qrs/{{current_carnet_data.cedula}}.png" style="height: 15mm;" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-12">
                <div style="max-width: 55mm; text-align: center;">
                    <strong style="font-size: 8.3pt;">{{current_carnet_data.position.position}}</strong>
                </div>
            </div>
            <div class="col-12">
                <div style="max-width: 55mm; text-align: center;">
                    <strong class="text-dark" style="font-size: 6.3pt;">
                        {{current_carnet_data.department.name}}
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div style="page-break-before:always; max-width: 55mm; text-align: center; padding-right: 1mm; border: 0.5mm solid black; min-height: 83.5mm; font-size: 11pt;">
        Este carnet es intransferible y solo acredita al portador, titular de la cédula de identidad N° <span style="text-decoration: underline;">{{current_carnet_data.cedula}}</span>,
        como trabajador de esta entidad de trabajo.
        <div class="row">

            <div class="col-12" style="padding-left: 1.6cm; text-align: center;">
                <img src="/app/src/static/images/branding/logo_inpromaro_lit.png"  alt="">
            </div>
        </div>
    </div>

</body>

</html>