{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<head>
    <style>
    @page {
        size:  57mm 85.5mm ;
        margin: 1.35mm;
        padding: 0mm;
        font-family: monospace;
    }
    </style>
</head>

<body>
    <div class="row" style="padding: 0 !important; margin:  0 !important; z-index: 0; position: absolute; margin-bottom: 22mm;">
        {% if current_carnet_data.department.work_center.carnet_model is None or force_default_carnet %}
        <img src="file:///app/src/static/images/branding/borde_carnet-removebg-preview.png" style="width: 54.9mm; height: 85.5mm;" alt="" srcset="">
        {% else %}
        <img src="file://{{ current_carnet_data.department.work_center.carnet_model.front_path.path }}" style="width: 54.9mm; height: 85.5mm;" alt="" srcset="">
        {% endif %}
    </div>
    <div class="container-flow" id="content" style="z-index: 99; padding-right: 2mm; min-height: 100%; position: relative;">

        <div class="row">
            <div class="col-12" >
                {% if current_carnet_data.department.work_center.carnet_model is None %}
                <img src="file:///app/src/static/images/branding/logo_inpromaro_lit.png" style="height: 12mm;" alt="">
                {% else %}
                <div style="min-height: 12mm;"></div>
                {% endif %}
            </div>
        </div>
        <div class="row d-flex flex-row align-items-center justify-content-center " style="max-width: 60mm; padding-left: 3mm; z-index: 11; margin-top: -4mm; margin-left: -7mm;">
            <img src="file://{{current_carnet_data.picture.path}}"  style="height: 70px; width: 70px; border-radius: 50%; z-index: 12;" alt="">
            
        </div>
        <div class="row">
            <div class="col-12" style="text-align: center;">
                <div style="max-width: 55mm; font-size: 8pt; line-height: 120%; margin-left: -3mm; margin-top: 4mm;">
                    <strong>{{current_carnet_data.name}}</strong>
                    <br>
                    <strong>{{current_carnet_data.last_name}}</strong>
                    <br>
                    <strong style="font-size: 8pt; margin-top: -1mm;">C.I.: {{current_carnet_data.cedula}}</strong>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 1mm; margin-left: -8mm;">
            <div class="col-12">
                <div style="max-width: 57mm; align-items: center; text-align: center;">
                    <img src="file:///app/src/media/pictures/qrs/{{current_carnet_data.cedula}}.png" style="height: 15mm;" alt="" srcset="">
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-12" style="margin-left: 2mm; margin-top: 3mm;">
                <div style="max-width: 45mm; text-align: center; line-height: 75%; border: 1px solid transparent;">
                    <strong style="font-size: 8.3pt; ">{{current_carnet_data.position.position}}</strong>
                </div>
            </div>
            <div class="col-12" style="margin-left: 2mm;">
                <div style="max-width: 45mm; text-align: center; line-height: 75%; border: 1px solid transparent;">
                    <strong class="text-dark" style="font-size: 7.3pt;">
                        {{current_carnet_data.department.name}}
                    </strong>
                </div>
            </div>
        </div>
    </div>
    <div style="page-break-before:always; max-width: 55mm; padding: 1mm; min-height: 83.5mm; font-size: 11pt; line-height: normal; text-align: center;">
        <div style="border: 0.5mm solid black;">
            <p style="padding: 3mm;">
                Este carnet es intransferible y solo acredita al portador, titular de la cédula de identidad N°<span style="text-decoration: underline;">{{current_carnet_data.cedula}}</span>,
                como trabajador de esta entidad de trabajo.
            </p>
            <div class="row">

                <div class="col-12" style="padding-left: 1.6cm; text-align: center; margin-top: 2mm; margin-bottom: 1mm;">
                    {% if current_carnet_data.department.work_center.carnet_model is None or current_carnet_data.department.work_center.carnet_model.back_path is None or force_default_carnet %}
                    <img src="file:///app/src/static/images/branding/logo_inpromaro_lit.png" style="height: 30mm;" alt="">
                    {% else %}
                    <img src="file:///app/src{{ current_carnet_data.department.work_center.carnet_model.back_path.url }}" style="height: 30mm;" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</body>

</html>